PORT=3000

# PostgreSQL Database
DATABASE_URL=postgres://user:password@localhost:5432/flower_db

# YooKassa
YOOKASSA_SHOP_ID=your_shop_id
YOOKASSA_SECRET_KEY=your_secret_key
# URL to redirect after payment
YOOKASSA_RETURN_URL=https://your-domain.com

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id # ID куда присылать уведомления
